In [1]:
import os
os.chdir("..")

import numpy as np
import pandas as pd

TARGET_COL = "DEATH_EVENT"

df = pd.read_csv(os.path.join("data", "heart_failure_clinical_records_dataset.csv"))
print(df.shape)

(299, 13)

In [2]:
df.groupby(TARGET_COL).size()

DEATH_EVENT
0    203
1     96
dtype: int64

In [3]:
df.isnull().sum(axis=0)

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [4]:
df.describe(percentiles=[0.01, 0.05, 0.25, 0.5, 0.75, 0.95, 0.99])

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
1%,40.000000,0.000000,47.000000,0.000000,16.960000,0.000000,61780.000000,0.60000,123.940000,0.000000,0.00000,7.000000,0.00000
5%,42.900000,0.000000,59.000000,0.000000,20.000000,0.000000,131800.000000,0.70000,130.000000,0.000000,0.00000,12.900000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
95%,82.000000,1.000000,2263.000000,1.000000,60.000000,1.000000,422500.000000,3.00000,144.000000,1.000000,1.00000,250.000000,1.00000
99%,90.080000,1.000000,5222.460000,1.000000,62.060000,1.000000,544560.000000,6.11400,145.000000,1.000000,1.00000,271.140000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000